
<h2>{{group.customerType}} Backorders: {{group.category}}</h2>
<table class="table-sm table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Product</th>
    <th>Oldest</th>
    <th>Quantity</th>
    <th>Dollar Value</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let p of group.products; index as i">
      <tr app-product-row [product]="p" [rownum]="i+1" (click)="toggle()"></tr>
      <ng-container *ngIf="show">
        <tr *ngFor="let o of p.orders"><td>-</td><td>{{o.sku}}</td><td>{{o.planned_date}}</td><td>{{o.quantity}}</td><td>{{o.amount}}</td></tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
